:root{
    /*--colorMenuHeight: 11vw;*/
    --colorMenuHeight: calc(5vw + 100px);
    --colorMenuMobileHeight: 150px;
    --runeoRedColor: #c74747;
}
/* general */
.none{
    display: none!important;
}
/* bootstrap corrections */
.nav-item.dropdown {
    text-decoration: none;
    list-style: none;
}
/* custom styles */
.bgDarkRuneo{
    background-color: #414141;
}
.navbar-hamburger-icon {
    background-image: url("../images/styleguide/hamburger.svg");
    height: 30px;
    width: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@keyframes logoComeIn{
    from{
        margin-left: -100px;
        margin-right: 100px;
    }
    to{
        margin-left: 0;
        margin-right: 0;
    }
}
.siteLogo{
    height: 40px;
    width: 40px;
    animation: logoComeIn 1s;
}
.fakeTitle {
    text-align: center;
    margin-bottom: 30px;
}
.fakeTitle > img {
    width: calc(100% - 50px);
    max-width: 500px;
}
.userImg {
    height: 30px;
    border: 1px solid 
    black;
    border-radius: 100%;
    margin-top: -5px;
}
.pageContent > div{
    padding: 20px;
    min-height: calc(100vh - 66px - 30px);
}
@keyframes sunriseOfTheCarMan{
    from {
        background-position-y: calc(100vh);
    }
    to {
        background-position-y: calc(100vh - 400px);
    }
}
@keyframes zoomInInitial{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

#homePage {
    background-color: #85c3c1; 
    background-image: url("../images/styleguide/voiture_man.svg");
    background-size: 140vw;
    background-repeat: no-repeat;
    background-position-x: -11vw;
    background-position-y: calc(100vh - 400px);
    animation: sunriseOfTheCarMan 1s;
}
#homePage > *{
    animation: zoomInInitial 0.5s
}
.noHighlight{
    color: inherit;
}

.colorsMenu{
    height: var(--colorMenuHeight);
    color: white;
    font-size: 20px;
    line-height: var(--colorMenuHeight);
    text-align: center;
}
.colorsMenu.c1{
    background-color: blue;
}
.colorsMenu.c2{
    background-color: green;
}
.colorsMenu.c3{
    background-color: yellowgreen;
}
.colorsMenu.c4{
    background-color: orange;
}
.colorsMenu.c5{
    background-color: red;
}
.colorsMenu.c6{
    background-color: purple;
}
.colorsMenu.c7{
    background-color: pink;
}

#runsPage, #createRunPage {
    background-color: #f5f5f5;
    background-image: url("../images/styleguide/ronds_rouge_fond.svg");
    background-size: 110vw;
    background-repeat: no-repeat;
    background-position-x: -5vw;
    background-position-y: calc(100% + 90px);
}

#createRunPage{
    padding: 0;
    text-align: center;
}

/*slider*/
.slideButtons {
    /*text-align: center;*/
    padding: 20px;
}
.slideButtons > button {
    height: 70px;
    width: 70px;
    border: 0;
    border-radius: 50%;
    background-color: #ccc;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 15px 0 15px;
}
.slideButtons > button.selected{
    background-color: var(--runeoRedColor);
}
#calendarBtn{
    background-image: url(../images/styleguide/calendar.svg);
}
#locationBtn{
    background-image: url(../images/styleguide/mapmarker.svg);
}
.slideBar{
    background-color: white;
    width: 100%;
    text-align: center;
}
.slideBarContent {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 50px;
}
.slideBarContent > p {
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 14px;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}
.slideBarContent > a {
    position: absolute;
    right: 10px;
    top: 9px;
}
.saveBtn {
    height: 30px;
    width: 30px;
    border: 0;
    background-color: transparent;
    background-image: url(../images/styleguide/floppy.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.slideInfos {
    width: 100%;
    max-width: 800px;
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}
#slideImg {
    vertical-align: middle;
}
.slideInfos > p {
    display: inline-block;
    font-weight: bold;
    margin: 0;
    vertical-align: middle;
    padding-left: 10px;
}
:root{
    --runCardHeight: 500px;
}
.slideBarHider {
    overflow: hidden;
    height: calc(var(--runCardHeight) - 30px);
}
#sliderContainer {
    overflow-x: scroll;
    width: 100%;
    height: var(--runCardHeight);
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}
.runSlider {
    width: 200vw;
}
.slideContainer {
    display: inline-block;
    vertical-align: top;
    width: 100vw;
    margin-left: -3px;
    scroll-snap-align: start;
    scroll-behavior: smooth;
}
.slideContainer > .container {
    width: 100%;
    max-width: 800px;
    background-color: white;
    margin-top: 10px;
    padding: 20px 30px 10px 30px;
    text-align: left;
    box-shadow: 0 0 5px #aaa;
}
.runButtonsContainer {
    height: 40px;
    position: relative;
}
.runButtonsContainer > * {
    position: absolute;
    right: 0;
}
.runButtonsContainer > *.left{
    right: auto;
    left: 0;
}
/*endslider*/

#createRunPassengerCountCheckBox {
    margin-left: 5px;
    margin-top: 10px;
}
#createRunInfosTextArea {
    min-height: 100px;
    min-width: 100%;
    max-width: 100%;
}

#createRunWindow {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
}
.createRunWindowContent {
    background-color: white;
    margin-top: 30px;
    text-align: left;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.createRunWindowContent >.container{
    padding-top: 20px;
}
.createRunWindowHeader {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    position: relative;
    font-size: 17px;
}
#windowCloseBtn {
    position: absolute;
    right: 10px;
    width: 30px;
}
.windowStreetMap {
    min-height: 300px;
}
.timeSelectSeparator {
    line-height: 38px;
    padding: 0 5px 0 5px;
}
.dateTimeSpacer {
    width: 10px;
}
.selectedVehicle, .selectedRunner {
    line-height: 40px;
    margin-bottom: 0;
    font-size: 20px;
    text-decoration: underline;
}
.table_statut_img {
    height: 30px;
}
.windowVehiclesTable > tbody{
    overflow-y: scroll;
}
#runWindowSubmitButton {
    height: 60px;
    width: 90%;
    max-width: 200px;
    float: right;
    margin-top: 20px;
}

.footer{
    text-align: center;
    border-top: 1px solid #aaa;
    background-color:var(--runeoRedColor);
    height: 30px;
    color:#d98a8a;
    padding-top: 2px;
}

@media (max-width: 575px) {
    .colorsMenu{
        height: var(--colorMenuMobileHeight);
        line-height: var(--colorMenuMobileHeight);
    }
    .createRunWindowContent {
        margin-top: 0;
        margin-bottom: 0;
    }
    .dateTimeSpacer{
        display: none;
    }
}